<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
  
    <title>SleepShift Transports</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>SleepShift Transports</h1>
            <div class="login-form">
                <h2>Iniciar Sesi칩n</h2>
                <form id="login-form">
                    <label for="username">Usuario:</label>
                    <input type="text" id="username" name="username" required>
                    <br>
                    <label for="password">Contrase침a:</label>
                    <input type="password" id="password" name="password" required>
                    <br>
                    <button type="submit">Iniciar Sesi칩n</button>
                </form>
            </div>
        </div>
    </div>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
    const loginForm = document.getElementById("login-form");

    if (loginForm) { // Verifica que el formulario existe
        loginForm.addEventListener("submit", function (event) {
            event.preventDefault(); 

            const usernameInput = document.getElementById("username");
            const passwordInput = document.getElementById("password");

            const username = usernameInput.value;
            const password = passwordInput.value;

            if (username === "admin" && password === "1234") {
                window.location.href = "../views/index.ejs";
            } else {
                alert("Usuario o contrase침a incorrectos");
            }
        });
    } else {
        console.error("El elemento 'login-form' no se encuentra en el DOM.");
    }
});
    </script>
    <img src="../imagenes/logo.png" alt="Logo SleepShift Transports" class="logo">
</body>
</html>
